.hero{
    background-image: url(../img/mobile-img/rectangle.jpg);
}

.title-hero{
color: $zagolovok;
text-align: center;
font-family: Jost;
font-size: 45px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.hero-span{
    color:  $tekst;
    font-family: Jost;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

@media screen and (min-width: 480px) {

  }
  @media screen and (min-width: 768px) {
    
  }
  @media screen and (min-width: 1200px) {

    .hero{
        background-image: url(../img/background-hero-tablet.jpg);
        height: 450px;
    }



    .title-hero{
        color: $zagolovok;
        text-align: center;
        font-family: Jost;
        font-size: 96px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        }
        .hero-span{
            color:  $tekst;
            font-family: Jost;
            font-size: 96px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
        }
  }